:root {
	--ColorBack: hsl(211, 100%, 95%);
	--ColorTheme: #99c9ff;/*theme Color*/
	--ColorControlsBack: #EDF5FF;
	--conBack: white; /*controls background*/
}
html.theme{
	background-color: var(--ColorBack);
}
#header.theme {
	background-color: var(--ColorTheme);
	color: #99c9ff;
}
#nav.theme {
	background-color: var(--ColorBack);
}
#lte{
	background-color: #EDF5FF;
}
#rte.theme{
	background-color: var(--conBack);
}
.selectGroup0{
	font-size: larger; 
	background-color: #99c9ff;  
}
.selectGroup1{ 
	font-size: large;padding-left: 5px;
	background-color:#EDF5FF; 
}
#progness{
	background-color: var(--ColorTheme);
}
#tabBackGround{
	background: linear-gradient(180deg, var(--ColorTheme) 0%, var(--ColorTheme) 10%, var(--ColorBack) 100%);
}
.tab{
	background-color: var(--conBack);
}
.tab:hover{
	background-color: var(--ColorTheme);
}
.tabSelected{
	background-color: var(--ColorTheme);
}